In [67]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

! pip install mlxtend
from mlxtend.frequent_patterns import apriori, association_rules

Requirement already satisfied: mlxtend in d:\anaconda\lib\site-packages (0.23.0)
Requirement already satisfied: scipy>=1.2.1 in d:\anaconda\lib\site-packages (from mlxtend) (1.7.3)
Requirement already satisfied: pandas>=0.24.2 in d:\anaconda\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: scikit-learn>=1.0.2 in d:\anaconda\lib\site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: matplotlib>=3.0.0 in d:\anaconda\lib\site-packages (from mlxtend) (3.5.1)
Requirement already satisfied: joblib>=0.13.2 in d:\anaconda\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: numpy>=1.16.2 in d:\anaconda\lib\site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: packaging>=20.0 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: python-dateutil>=2.7 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: pyparsing>=2.2.1 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: pillow>=6.2.0 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.0.1)
Requirement already satisfied: cycler>=0.10 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\anaconda\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)

# Association Rule for Store Dataset

In this case study, we will explore how association rule can be used to analyze the items that are usualy purcased together.

you can refer to this article to find out about apriori and association rule:
https://rasbt.github.io/mlxtend/user_guide/frequent_patterns/apriori/
https://rasbt.github.io/mlxtend/user_guide/frequent_patterns/association_rules/

## Load Data

We will use the dataset of the transaction in a certain store. You can get the dataset here: 
https://gist.githubusercontent.com/Harsh-Git-Hub/2979ec48043928ad9033d8469928e751/raw/72de943e040b8bd0d087624b154d41b2ba9d9b60/retail_dataset.csv

In [68]:
# load the data set and show the first five transaction
url = 'https://gist.githubusercontent.com/Harsh-Git-Hub/2979ec48043928ad9033d8469928e751/raw/72de943e040b8bd0d087624b154d41b2ba9d9b60/retail_dataset.csv'
df = pd.read_csv(url)
df.head()

        0       1     2       3       4       5       6
0   Bread    Wine  Eggs    Meat  Cheese  Pencil  Diaper
1   Bread  Cheese  Meat  Diaper    Wine    Milk  Pencil
2  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
3  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
4    Meat  Pencil  Wine     NaN     NaN     NaN     NaN

# Get the set of product that has been purchased

Get the unique product that has been purchased

In [71]:
unique = pd.unique(df.values.ravel())
print(unique)

['Bread' 'Wine' 'Eggs' 'Meat' 'Cheese' 'Pencil' 'Diaper' 'Milk' nan
 'Bagel']

## Preprocess Data

In this step, we will transform our dataset so that we will have a one hot encoding based on the purchased products.

In [72]:
#create an itemset based on the products
itemsets = set(unique)

# encoding the feature
encoded = []
for index, row in df.iterrows(): 
    labels = {}
    uncommons = list(set(unique) - set(row))
    commons = list(set(unique).intersection(row))
    for i in uncommons:
        labels[i] = 0
    for j in commons:
        labels[j] = 1
    encoded.append(labels)

In [73]:
# create new dataframe from the encoded features
dfEncoded = pd.DataFrame(encoded)
# show the new dataframe
dfEncoded.head()

   NaN  Milk  Bagel  Pencil  Bread  Cheese  Eggs  Diaper  Meat  Wine
0    0     0      0       1      1       1     1       1     1     1
1    0     1      0       1      1       1     0       1     1     1
2    1     1      0       0      0       1     1       0     1     1
3    1     1      0       0      0       1     1       0     1     1
4    1     0      0       1      0       0     0       0     1     1

Since, the encoded dataframe consist of the empty column. We will drop the NaN column or select all columns other than the first column.

In [74]:
dfEncoded = dfEncoded.dropna(axis=1)

## Apriori Algorithm

We will use appriori algorithm to determine the frequently purchased products. 
For this case study, we will min_support=0.2

In [77]:
frequentlyPurchasedProduct = apriori(dfEncoded, min_support=0.2, use_colnames=True)
frequentlyPurchasedProduct

d:\Anaconda\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support              itemsets
0   0.869841                 (nan)
1   0.501587                (Milk)
2   0.425397               (Bagel)
3   0.361905              (Pencil)
4   0.504762               (Bread)
5   0.501587              (Cheese)
6   0.438095                (Eggs)
7   0.406349              (Diaper)
8   0.476190                (Meat)
9   0.438095                (Wine)
10  0.409524           (nan, Milk)
11  0.336508          (nan, Bagel)
12  0.266667         (nan, Pencil)
13  0.396825          (nan, Bread)
14  0.393651         (nan, Cheese)
15  0.336508           (nan, Eggs)
16  0.317460         (nan, Diaper)
17  0.368254           (nan, Meat)
18  0.317460           (nan, Wine)
19  0.225397         (Milk, Bagel)
20  0.279365         (Milk, Bread)
21  0.304762        (Milk, Cheese)
22  0.244444          (Milk, Eggs)
23  0.244444          (Milk, Meat)
24  0.219048          (Milk, Wine)
25  0.279365        (Bread, Bagel)
26  0.200000       (Pencil, Bread)
27  0.200000      (Cheese, Pencil)
28  0.200000        (Pencil, Wine)
29  0.238095       (Cheese, Bread)
30  0.231746       (Diaper, Bread)
31  0.206349         (Meat, Bread)
32  0.244444         (Bread, Wine)
33  0.298413        (Cheese, Eggs)
34  0.200000      (Cheese, Diaper)
35  0.323810        (Cheese, Meat)
36  0.269841        (Cheese, Wine)
37  0.266667          (Meat, Eggs)
38  0.241270          (Eggs, Wine)
39  0.234921        (Diaper, Wine)
40  0.250794          (Meat, Wine)
41  0.234921   (nan, Milk, Cheese)
42  0.212698   (nan, Bread, Bagel)
43  0.219048   (nan, Cheese, Eggs)
44  0.234921   (nan, Cheese, Meat)
45  0.203175  (Milk, Cheese, Meat)
46  0.215873  (Cheese, Meat, Eggs)

Then, we will generate association rule of the frequent itemset based on confidence level with the threshold=0.6

In [79]:
association_rules(frequentlyPurchasedProduct, metric = "confidence", min_threshold = 0.6)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Milk),(nan),0.501587,0.869841,0.409524,0.816456,0.938626,-0.026778,0.709141,-0.115976
1,(Bagel),(nan),0.425397,0.869841,0.336508,0.791045,0.909413,-0.033520,0.622902,-0.147743
2,(Pencil),(nan),0.361905,0.869841,0.266667,0.736842,0.847100,-0.048133,0.494603,-0.220499
3,(Bread),(nan),0.504762,0.869841,0.396825,0.786164,0.903801,-0.042237,0.608683,-0.176903
4,(Cheese),(nan),0.501587,0.869841,0.393651,0.784810,0.902245,-0.042651,0.604855,-0.178565
5,(Eggs),(nan),0.438095,0.869841,0.336508,0.768116,0.883053,-0.044565,0.561310,-0.190735
6,(Diaper),(nan),0.406349,0.869841,0.317460,0.781250,0.898152,-0.035999,0.595011,-0.160381
7,(Meat),(nan),0.476190,0.869841,0.368254,0.773333,0.889051,-0.045956,0.574230,-0.192405
8,(Wine),(nan),0.438095,0.869841,0.317460,0.724638,0.833069,-0.063613,0.472682,-0.262869
9,(Milk),(Cheese),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148,0.350053
10,(Cheese),(Milk),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148,0.350053
11,(Bagel),(Bread),0.425397,0.504762,0.279365,0.656716,1.301042,0.064641,1.442650,0.402687
12,(Eggs),(Cheese),0.438095,0.501587,0.298413,0.681159,1.358008,0.078670,1.563203,0.469167
13,(Cheese),(Meat),0.501587,0.476190,0.323810,0.645570,1.355696,0.084958,1.477891,0.526414
14,(Meat),(Cheese),0.476190,0.501587,0.323810,0.680000,1.355696,0.084958,1.557540,0.500891
15,(Wine),(Cheese),0.438095,0.501587,0.269841,0.615942,1.227986,0.050098,1.297754,0.330409
16,(Eggs),(Meat),0.438095,0.476190,0.266667,0.608696,1.278261,0.058050,1.338624,0.387409
17,"(Milk, Cheese)",(nan),0.304762,0.869841,0.234921,0.770833,0.886177,-0.030174,0.567965,-0.155938
18,"(nan, Bagel)",(Bread),0.336508,0.504762,0.212698,0.632075,1.252225,0.042842,1.346032,0.303578
19,"(Bread, Bagel)",(nan),0.279365,0.869841,0.212698,0.761364,0.875290,-0.030305,0.545427,-0.165075
20,"(nan, Eggs)",(Cheese),0.336508,0.501587,0.219048,0.650943,1.297767,0.050260,1.427885,0.345815
21,"(Cheese, Eggs)",(nan),0.298413,0.869841,0.219048,0.734043,0.843881,-0.040524,0.489397,-0.208666
22,"(nan, Meat)",(Cheese),0.368254,0.501587,0.234921,0.637931,1.271825,0.050209,1.376568,0.338313
23,"(Cheese, Meat)",(nan),0.323810,0.869841,0.234921,0.725490,0.834049,-0.046742,0.474150,-0.227353
24,"(Milk, Cheese)",(Meat),0.304762,0.476190,0.203175,0.666667,1.400000,0.058050,1.571429,0.410959
25,"(Milk, Meat)",(Cheese),0.244444,0.501587,0.203175,0.831169,1.657077,0.080564,2.952137,0.524816
26,"(Cheese, Meat)",(Milk),0.323810,0.501587,0.203175,0.627451,1.250931,0.040756,1.337845,0.296655
27,"(Cheese, Meat)",(Eggs),0.323810,0.438095,0.215873,0.666667,1.521739,0.074014,1.685714,0.507042
28,"(Cheese, Eggs)",(Meat),0.298413,0.476190,0.215873,0.723404,1.519149,0.073772,1.893773,0.487091
29,"(Meat, Eggs)",(Cheese),0.266667,0.501587,0.215873,0.809524,1.613924,0.082116,2.616667,0.518717

Provide explanation about __antecedent support__, __consequent support__, __support__, __confidence__, __lift__, __leverage__ and __conviction__

Given a rule "A -> C", A stands for antecedent and C stands for consequent.

__o support(A→C) = support(A∪C), range: [0,1]__

__Antecedent support__ computes the proportion of transactions that contain the antecedent A, and __consequent support__ computes the support for the itemset of the consequent C. The __support__ metric then computes the support of the combined itemset A ∪ C.


__o confidence(A→C) = support(A→C) / support(A), range: [0,1]__

The confidence of a rule A->C is the probability of seeing the consequent in a transaction given that it also contains the antecedent. Note that the metric is not symmetric or directed; for instance, the confidence for A->C is different than the confidence for C->A. The confidence is 1 (maximal) for a rule A->C if the consequent and antecedent always occur together.

__o lift(A→C) = confidence(A→C) / support(C), range: [0,∞]__

The lift metric is commonly used to measure how much more often the antecedent and consequent of a rule A->C occur together than we would expect if they were statistically independent. If A and C are independent, the Lift score will be exactly 1.

__o levarage(A→C)=support(A→C)−support(A)×support(C),range: [−1,1]__
 
Leverage computes the difference between the observed frequency of A and C appearing together and the frequency that would be expected if A and C were independent. A leverage value of 0 indicates independence.

__o conviction(A→C)=1−support(C)1−confidence(A→C),range: [0,∞]__

A high conviction value means that the consequent is highly depending on the antecedent. For instance, in the case of a perfect confidence score, the denominator becomes 0 (due to 1 - 1) for which the conviction score is defined as 'inf'. Similar to lift, if items are independent, the conviction is 1.